<app-nav-menu />
<div class="desk:flex bg-lightBlack desk:w-full mob:block mob:w-[375px]">
  <div id="image">
    <img [src]="variableService.bgl" alt="" class="desk:w-auto desk:h-auto mob:w-[375px] mob:h-[232px] mob:object-cover">
  </div>
  <div id="form">
    <div class="desk:mt-[100px] pc:ml-[390px] desk:ml-[200px] mob:mt-[30px] mob:ml-[30px]" id="form-title">
      <h2 class="desk:font-work desk:font-semibold desk:text-h2 desk:text-white desk:leading-[110%]
                  mob:font-work mob:font-semibold mob:text-h3 mob:text-white mob:leading-[120%]">Login</h2>
      <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-white desk:leading-[160%] desk:w-[460px] desk:mt-5
                  mob:font-work mob:font-semibold mob:text-base mob:text-white mob:leading-[140%] mob:w-[315px] mob:mt-5">
        {{ 'Enter your email and password to access your account.' | firstUppercase }}
      </h5>
    </div>
    <div class="pc:ml-[430px] desk:ml-[250px] mob:ml-[30px]" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && loginFn()">
      <div class="flex items-center relative desk:mt-[15px] mob:mt-[30px]">
        <img [src]="variableService.email" alt="" class="ml-[40px] w-[20px] h-[20px] absolute -left-[20px] z-10 color-gray">
        <input type="text" placeholder="Email Address" class="pl-[52px] w-[315px] h-[46px] border-[1px] border-lightGray rounded-[20px] placeholder:font-work placeholder:font-regular placeholder:text-base placeholder:text-black placeholder:leading-[140%]"
               formControlName="email" [ngClass]="{'error': getControl('email')?.errors && getControl('email')?.touched}">
        <div *ngIf="getControl('email')?.errors && getControl('email')?.touched">
          <label *ngIf="getControl('email')?.errors?.['required']" class="text-red-500 ml-[10px]">
            Email is required!
          </label>
          <label *ngIf="getControl('email')?.errors?.['maxlength']" class="text-red-500 ml-[10px]">
            Only 32 characters are allowed.
          </label>
        </div>
      </div>

      <div class="flex items-center relative mt-[15px]">
        <img [src]="variableService.pasword" alt="" class="ml-[40px] w-[20px] h-[20px] absolute -left-[20px] z-10 color-gray">
        <input type="password" placeholder="Password" class="pl-[52px] w-[315px] h-[46px] border-[1px] border-lightGray rounded-[20px] placeholder:font-work placeholder:font-regular placeholder:text-base placeholder:text-black placeholder:leading-[140%]"
               formControlName="password" [ngClass]="{'error': getControl('password')?.errors && getControl('password')?.touched}">
        <div *ngIf="getControl('password')?.errors && getControl('password')?.touched">
          <label *ngIf="getControl('password')?.errors?.['required']" class="text-red-500 ml-[10px]">
            Password is required!
          </label>
          <label *ngIf="getControl('password')?.errors?.['minlength'] || getControl('password')?.errors?.['maxlength']" class="text-red-500 ml-[10px]">
            Minimum 8 characters and maximum 32 characters.
          </label>
        </div>
      </div>
      
      <button type="submit" class="mt-[30px] w-[315px] h-[46px] bg-purple rounded-[20px] font-work font-semibold text-base text-white leading-[140%] cursor-pointer transition-transform duration-500 hover:scale-90"
               (click)="loginFn()">
        Log In
      </button>
    </div>

    <div>
      <a routerLink="/sign-up" routerLinkActive="">
        <h2 class="font-work font-semibold text-base text-white leading-[140%] cursor-pointer transition-transform duration-500 hover:underline pc:ml-[500px]
                 desk:ml-[320px] mt-[10px] mob:ml-[100px] mob:pb-[30px]">Don't have an account?</h2>
      </a>
    </div>
  </div>
</div>
<app-footer />
