<app-nav-menu />
<div class="bg-lightBlack desk:pt-20 pc:pl-[390px]
                 desk:pl-[250px]
             mob:pt-[30px] mob:pl-[30px]">
  <div id="ranking-title">
    <h2 class="desk:font-work desk:font-semibold desk:text-h2 desk:text-white desk:leading-[110%]
                mob:font-work mob:font-semibold mob:text-h4 mob:text-white mob:leading-[140%]">Top Creators</h2>
    <h5 class="desk:font-work desk:font-regular desk:text-h5 desk:text-white desk:leading-[160%] desk:mt-5 desk:w-auto
                mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:mt-5 mob:w-[315px]">Check out top ranking NFT artists on the NFT Marketplace.</h5>
  </div>
  <div class="desk:flex desk:block
               mob:hidden" id="ranking-time">
      @for(day of days; track day; let i = $index) {
        <div
          (click)="toogleActive(i)"
          [ngClass]="{
          'desk:w-[262.5px] pc:w-[262.5px] desk:h-[60px] desk:text-center desk:py-[14.5px] desk:mt-20 desk:cursor-pointer desk:ml-[0px]': true,
          'desk:border-b-[2px] desk:border-lightGray': variableService.currentSlideIndex === i
          }" id="today">
        <h5 [ngClass]="{
          'desk:font-work desk:font-semibold desk:text-h5 desk:leading-[140%] desk:w-auto': true,
          'text-white': variableService.currentSlideIndex === i,
          'text-lightGray': variableService.currentSlideIndex !== i
          }">
          {{day.title}}
        </h5>
        </div>
      }
  </div>

  <div class="mob:flex mob:block
                desk:hidden" id="ranking-times">
    @for(mobDay of mobDays; track mobDay; let i = $index) {
      <div
        (click)="toogleActive(i)"
        [ngClass]="{
          'mob:w-[78.75px] mob:h-[60px]  mob:text-center mob:py-[19px] mob:mt-[30px] mob:cursor-pointer': true,
          'mob:border-b-[2px] mob:border-lightGray': variableService.currentSlideIndex === i
          }" id="todays">
        <h5 [ngClass]="{
          'desk:font-work desk:font-semibold desk:text-h5 desk:leading-[140%] desk:w-auto': true,
          'text-white': variableService.currentSlideIndex === i,
          'text-lightGray': variableService.currentSlideIndex !== i
          }">
          {{mobDay.title}}
        </h5>
      </div>
    }
  </div>

  <div id="ranking-categories">
    <div class="desk:w-[1050px] desk:h-[46px] border-[2px] border-darkGray rounded-[20px] desk:mt-10
                 mob:w-[315px] mob:h-[46px] mob:mt-10">
      <div class="flex py-3">
        <div class="desk:w-[30px] desk:h-[22px] desk:ml-5
                     mob:w-[24px] mob:h-[22px] mob:ml-[10px]">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-center desk:leading-[140%]
                     mob:font-mono mob:font-regular mob:text-base mob:text-lightGray mob:text-center mob:leading-[140%]">
            #
          </p>
        </div>
        <div class="desk:w-[380px] desk:h-[22px] desk:ml-[5px] desk:-mt-[5px]
                     mob:w-[181px] mob:h-[13px] mob:ml-[10px] mob:pt-1">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]
                     mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:text-left mob:leading-[110%]">
            Artist
          </p>
        </div>
        <div class="desk:block desk:w-[160px] desk:h-[22px] desk:ml-[70px] desk:-mt-[5px]
                     mob:hidden">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]">
            Change
          </p>
        </div>
        <div class="desk:block desk:w-[160px] desk:h-[22px] desk:-ml-1 desk:-mt-[5px]
                     mob:hidden">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]">
            NFts Sold
          </p>
        </div>
        <div class="desk:block desk:w-[160px] desk:h-[22px] desk:ml-8 desk:-mt-[5px]
                     mob:w-[70px] mob:h-[13px] mob:mt-1">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]
                     mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:text-left mob:leading-[110%]">
            Volume
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="ranking-list">
    <div class="desk:pt-5 desk:pb-10
                 mob:pt-5 mob:pb-5">
                 @for(artist of filteredArtists$ | async; track artist; let i = $index) {
                  <div class="desk:mb-[20px] cursor-pointer">
                    <div class="bg-[#3B3B3B] desk:w-[1050px] desk:h-[84px] flex rounded-[20px]">
                      <div class="bg-[#2B2B2B] desk:w-[30px] desk:h-[30px] desk:rounded-full desk:mt-[27px] desk:ml-[20px] flex items-center justify-center">
                        <span class="desk:mx-[8px] desk:my-[4px] text-[#858584]">{{i + 1}}</span>
                      </div>
                      <div class="flex desk:w-[360px] desk:h-[60px]">
                        <img src="{{artist.ava}}"  class="desk:w-[60px] desk:h-[60px] rounded-full desk:ml-[20px] desk:mt-[12px]"/>
                        <h1 class="font-work font-semibold text-h5 text-white desk:ml-[20px] desk:mt-[25px]">{{artist.name | firstUppercase}}</h1>
                      </div>
                      <div class="flex desk:ml-[115px]">
                        <h2 class="font-mono font-regular text-base  text-[#00AC4F] desk:mt-[31px] desk:-ml-[15px] desk:w-[160px]">{{artist.change}}</h2>
                        @if(variableService.currentSlideIndex === 0) {
                          <h2 class="font-mono font-regular text-base  text-white desk:mt-[31px] desk:ml-[30px] desk:w-[160px]">{{artist.sold_today}}</h2>
                        } @else if(variableService.currentSlideIndex === 1) {
                          <h2 class="font-mono font-regular text-base  text-white desk:mt-[31px] desk:ml-[30px] desk:w-[160px]">{{artist.sold_week}}</h2>
                        } @else if(variableService.currentSlideIndex === 2) {
                          <h2 class="font-mono font-regular text-base  text-white desk:mt-[31px] desk:ml-[30px] desk:w-[160px]">{{artist.sold_month}}</h2>
                        } @else if(variableService.currentSlideIndex === 3) {
                          <h2 class="font-mono font-regular text-base  text-white desk:mt-[31px] desk:ml-[30px] desk:w-[160px]">{{artist.sold_allTime}}</h2>
                        }
                        <h2 class="font-mono font-regular text-base  text-white desk:mt-[31px] desk:-ml-[20px] desk:w-[160px]">{{artist.volume}} ETH</h2>
                      </div>
                    </div>
                  </div>
                }
      </div>
    </div>
  </div>
<app-footer />
