<div class="bg-lightBlack desk:pt-[720px] desk:pb-[80px]
             mob:pt-[400px] mob:pb-[40px]">
  <div class="desk:w-[1120px] desk:h-[430px] desk:bg-darkGray pc:ml-[390px]
  desk:ml-[290px] desk:rounded-[20px] desk:flex
               mob:w-[315px] mob:h-[565px] mob:ml-[30px] mob:block">
    <div class="desk:pt-[60px] desk:ml-[60px]
                 mob:pt-10 mob:ml-[10px]" id="image">
      <img [src]="variableService.actronavt" alt="" class="desk:w-[425px] desk:h-[310px]
                                            mob:w-[315px] mob:h-auto mob:rounded-[20px]">
    </div>
    <div class="desk:ml-20 desk:mt-[79px]
                 mob:ml-[10px] mob:mt-[30px]" id="info">
      <h3 class="desk:w-[425px] desk:font-work desk:font-semibold desk:text-h3 desk:text-white desk:leading-[120%]
                  mob:w-[315px] mob:font-work mob:font-semibold mob:text-h4 mob:text-white mob:leading-[140%]">{{ 'Join our weekly digest' | firstUppercase }}</h3>
      <h5 class="desk:w-[425px] desk:font-work desk:font-regular desk:text-h5 desk:text-white desk:leading-[160%] desk:mt-[10px]
                  mob:w-[315px] mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:mt-[10px]">{{ 'Get exclusive promotions & updates straight to your inbox.' | firstUppercase }}</h5>
      <div class="desk:flex desk:mt-10
                   mob:mt-10" id="form" [formGroup]="form">
        <input type="text" placeholder="Enter your email here" class="desk:font-work desk:font-regular desk:text-base desk:text-black desk:leading-[140%] desk:w-[425px] desk:h-[60px] desk:rounded-[20px] desk:px-[19px] desk:py-[20px] desk:border-none desk:placeholder:font-work desk:placeholder:font-regular desk:placeholder:text-base desk:placeholder:text-black desk:placeholder:leading-[140%]
                                                                       mob:font-work mob:font-regular mob:text-base mob:text-black mob:leading-[140%] mob:w-[315px] mob:h-[46px] mob:rounded-[20px] mob:px-[19px] mob:py-[20px] mob:border-none mob:placeholder:font-work mob:placeholder:font-regular mob:placeholder:text-base mob:placeholder:text-black mob:placeholder:leading-[140%]" formControlName="email">
        <button type="submit" class="desk:w-[211px] desk:h-[60px] desk:rounded-[20px] desk:bg-purple desk:-mt-[0px] desk:-ml-[210px] desk:transition-transform desk:duration-500 desk:hover:scale-90
                                      mob:w-[315px] mob:h-[46px] mob:rounded-[20px] mob:bg-purple mob:ml-0 mob:mt-4 mob:transition-transform mob:duration-500 mob:hover:scale-90" (click)="submitForm()"><img [src]="variableService.message" alt="" class="desk:ml-[50px] desk:mt-[5px]
                                                                                                                                                                                                                                           mob:ml-[102px] mob:mt-[5px]"><h5 class="desk:font-work desk:font-semibold desk:text-base desk:text-white desk:leading-[140%] desk:-mt-[22px] desk:ml-[24px]
                                                                                                                                                                                                                                                                                   mob:font-work mob:font-semibold mob:text-base mob:text-white mob:leading-[140%] mob:-mt-[22px] mob:ml-[24px]">Subscribe</h5></button>
        <div class="desk:text-red-500 desk:text-center desk:mt-[70px] desk:-ml-[300px]
                     mob:text-red-500 mob:text-center mob:mt-[10px] mob:ml-[10px]">
          @if(getError(form.get('email'))) {
            <label  id="text-danger">{{getError(form.get('email')) }}</label>
          }
        </div>
        <div class="desk:text-green-500 desk:text-center desk:mt-[80px] desk:-ml-[100px]">
          @if(variableService.successMessage) {
            <label id="text-safe ">{{variableService.successMessage}}</label>
          }
        </div>
      </div>
    </div>
  </div>
</div>
