<app-nav-menu />
<div class="bg-lightBlack desk:pt-[100px]
             mob:pt-10">
  <div class="border-b-[2px] border-darkGray">
    <h2 class="desk:font-work desk:font-semibold desk:text-h2 desk:text-white desk:leading-[110%] pc:ml-[390px]
                 desk:ml-[200px]
                mob:font-work mob:font-semibold mob:text-h4 mob:text-white mob:leading-[140%] mob:ml-[30px]">Browse Marketplace</h2>
    <h5 class="desk:font-work desk:font-regular desk:text-h5 desk:text-white desk:leading-[160%] desk:pt-[10px] pc:ml-[390px]
                 desk:ml-[200px] desk:w-auto
                mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:pt-[10px] mob:ml-[30px] mob:w-[315px]">Browse through more than 50k NFTs on the NFT Marketplace.</h5>
    <div class="desk:flex desk:mt-[30px] desk:pb-20 pc:ml-[390px]
                 desk:ml-[200px]
                 mob:flex mob:mt-[30px] mob:pb-10 mob:ml-[30px]">
      <input type="text" placeholder="Search your favourite NFTs" class="w-[1050px] h-[60px] border-[1px] border-darkGray bg-transparent rounded-[20px] pl-5 placeholder:font-work placeholder:font-regular placeholder:text-base placeholder:text-lightGray placeholder:leading-[160%]"><img [src]="variableService.search" alt="" class="relative w-[24px] h-[24px] desk:mt-[15px] -left-10
                                                                                                                                                                                                                                                                                                                            mob:mt-5">
    </div>
  </div>
  <div class="flex pc:ml-[390px]
                 desk:ml-[200px] desk:mt-[10px]
               mob:ml-[30px] mob:mt-[10px]" id="ranking-time">
    @for(tab of tabs; track tab; let i = $index) {
      <div
        (click)="toogleActive(i)"
        [ngClass]="{
          'desk:w-[525px] desk:h-[60px] flex mob:w-[157.5px] mob:h-[60px]': true,
          'border-b-[2px] border-lightGray': variableService.currentSlideIndex === i
          }" id="todays">
        <h5 [ngClass]="{
          'desk:font-work desk:font-semibold desk:text-h5 desk:leading-[140%] desk:py-[14.5px] desk:px-[202.5px] mob:font-work mob:font-semibold  mob:text-base mob:leading-[140%] mob:py-[19px] mob:px-[59.25px] cursor-pointer': true,
          'text-white mob:text-white': variableService.currentSlideIndex === i,
          'text-lightGray mob:lightGray': variableService.currentSlideIndex !== i
          }">
          {{tab.name}}
        </h5>
      </div>
    }
  </div>
</div>
<div class="bg-darkGray border-b-[2px] border-lightBlack desk:pb-20
             mob:pb-10">
  <div class="pc:flex pc:flex-wrap pc:pt-[50px] pc:w-[60%] pc:ml-[360px]
  desk:flex desk:flex-wrap desk:pt-[50px] desk:w-[80%] desk:ml-[200px]
               mob:flex mob:flex-wrap mob:pt-10 mob:w-[80%] mob:ml-[35px]">
    @for(nfts of NFTs; track nfts) {
      <div class="desk:ml-[30px] desk:mt-[30px] transition-transform duration-500 hover:scale-90">
        <a routerLink="/nft-page" routerLinkActive="active">
          <div >
            <img [src]="nfts.picture" alt="" class="desk:w-[330px] desk:h-[295px] rounded-t-[20px]
                                                 mob:w-[315px] mob:h-[238px] mob:object-cover">
          </div>
          <div class="desk:w-[330px] desk:h-[230px] bg-lightBlack rounded-b-[20px]
                       mob:w-[315px] mob:h-[164px] mob:mb-5">
            <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-white desk:leading-[140%] desk:pt-5 desk:ml-[30px]
                        mob:font-work mob:font-semibold mob:text-h5 mob:text-white mob:leading-[140%] mob:pt-5 mob:ml-5">{{ nfts.nft_name | firstUppercase }}</h5>
            <div class="desk:flex
                         mob:flex">
              <img src="{{nfts.artist_ava}}" alt="" class="desk:w-[24px] desk:h-[24px] rounded-full desk:mt-[5px] desk:ml-[30px]
                                                         mob:w-[24px] mob:h-[24px] mob:mt-[5px] mob:ml-[22px]">
              <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%] ml-3 mt-1
                         mob:font-mono mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:mt-[5px]">{{ nfts.artist | firstUppercase }}</p>
            </div>
            <div class="desk:flex desk:mt-[15px]
                         mob:flex mob:mt-[25px] mob:w-[137.5px]">
              <div class="desk:w-[135px] desk:h-[43px] desk:text-left desk:ml-[30px]
                           mob:w-[275px] mob:h-[34px] mob:text-left mob:ml-[22px]">
                <p class="desk:font-mono desk:font-regular desk:text-caption desk:text-lightGray desk:leading-[110%]
                           mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:leading-[110%] mob:w-[137.5px]">Price</p>
                <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%]
                           mob:font-mono mob:font-regular mob:text-caption mob:text-white mob:leading-[140%] mob:mt-2">{{ nfts.price }} ETH</p>
              </div>
              <div class="mob:ml-10">
                <p class="desk:font-mono desk:font-regular desk:text-caption desk:text-lightGray desk:leading-[110%]
                           mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:leading-[110%] mob:w-[137.5px]">Highest Bid</p>
                <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%]
                           mob:font-mono mob:font-regular mob:text-base mob:text-white mob:leading-[140%]">{{ nfts.highest_bid }} wETH</p>
              </div>
            </div>
            <div class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%] desk:pt-[15px] desk:mx-[80px] desk:my-[15px] desk:w-[150px] desk:h-[50px] desk:text-center desk:text-jestify desk:bg-purple desk:rounded-[20px]">
              <button (click)="addNftToUser(nfts.nft_id)">Buy</button>
            </div>
          </div>
        </a>
      </div>
    }
  </div>
</div>
<app-footer />
