<div class="bg-lightBlack pt-[160px]">
  <div class="ml-[390px]" id="title-section">
    <h3 class="font-work font-semibold text-white text-h3 leading-[120%]">Trending Collection</h3>
    <p class="font-work font-regular text-white text-base leading-[160%] mt-[10px]">Checkout our weekly updated trending collection.</p>
  </div>
  <div class="flex mt-[60px]" id="image-section">
    <div class="ml-[390px]">
      <div class="">
        <a routerLink="/nft-page" routerLinkActive="active"><img [src]="dog" alt="" class="rounded-[20px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
        <div class="flex">
          <a routerLink="/nft-page" routerLinkActive="active"><img [src]="cat" alt="" class="rounded-[20px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
          <a routerLink="/nft-page" routerLinkActive="active"><img [src]="bear" alt="" class="rounded-[20px] ml-[15px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
          <a routerLink="/nft-page" routerLinkActive="active"><div class="font-mono font-bold text-h5 text-white leading-[160%] w-[100px] h-[100px] bg-purple rounded-[20px] px-4 py-8 ml-[15px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90">1025+</div></a>
        </div>
      </div>
      <div>
        <h5 class="mt-[15px] mb-[10px] font-work font-semibold text-white text-h5 leading-[140%]"><span class="uppercase">dsgn</span> Animal</h5>
        <div class="flex">
          <img [src]="fox" alt="" class="w-6 h-6 rounded-full cursor-pointer">
          <p class="ml-3 font-work font-regular text-white text-base leading-[140%]">MrFox</p>
        </div>
      </div>
    </div>
    <div>
      <div class="ml-[30px]">
        <div class="">
          <a routerLink="/nft-page" routerLinkActive="active"><img [src]="mushrum" alt="" class="rounded-[20px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
          <div class="flex">
            <a routerLink="/nft-page" routerLinkActive="active"><img [src]="FirstMushrum" alt="" class="rounded-[20px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
            <a routerLink="/nft-page" routerLinkActive="active"><img [src]="SecondMushrum" alt="" class="rounded-[20px] ml-[15px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
            <a routerLink="/nft-page" routerLinkActive="active"><div class="font-mono font-bold text-h5 text-white leading-[160%] w-[100px] h-[100px] bg-purple rounded-[20px] px-4 py-8 ml-[15px] mt-[15px] cursor-pointer transition-transform duration-500 hover:scale-90">1025+</div></a>
          </div>
        </div>
        <div>
          <h5 class="mt-[15px] mb-[10px] font-work font-semibold text-white text-h5 leading-[140%]">Magic Mushrooms</h5>
          <div class="flex">
            <img [src]="avatar" alt="" class="w-6 h-6 rounded-full cursor-pointer">
            <p class="ml-3 font-work font-regular text-white text-base leading-[140%]">Shroomie</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="ml-[30px]">
        <div class="">
          <a routerLink="/nft-page" routerLinkActive="active"><img [src]="robot0512" alt="" class="rounded-[20px] mt-[15px] w-[330px] h-[330px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
          <div class="flex">
            <a routerLink="/nft-page" routerLinkActive="active"><img [src]="robot0312" alt="" class="rounded-[20px] mt-[15px] w-[100px] h-[100px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
            <a routerLink="/nft-page" routerLinkActive="active"><img [src]="robot0987" alt="" class="rounded-[20px] ml-[15px] mt-[15px] w-[100px] h-[100px] cursor-pointer transition-transform duration-500 hover:scale-90"></a>
            <a routerLink="/nft-page" routerLinkActive="active"><div class="font-mono font-bold text-h5 text-white leading-[160%] w-[100px] h-[100px] bg-purple rounded-[20px] px-4 py-8 ml-[15px] mt-[15px] transition-transform duration-500 hover:scale-90">1025+</div></a>
          </div>
        </div>
        <div>
          <h5 class="mt-[15px] mb-[10px] font-work font-semibold text-white text-h5 leading-[140%]">Disco Machines</h5>
          <div class="flex">
            <img [src]="robot" alt="" class="w-6 h-6 rounded-full cursor-pointer">
            <p class="ml-3 font-work font-regular text-white text-base leading-[140%]">BeKind2Robots</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
