<app-nav-menu />
<div class="flex bg-lightBlack w-full">
  <div id="image">
    <img [src]="bg" alt="">
  </div>
  <div id="connect">
    <div class="mt-[100px] ml-[450px]" id="connect-title">
      <h2 class="font-work font-semibold text-h2 text-white leading-[110%]">Connect Wallet</h2>
      <h5 class="font-work font-semibold text-h5 text-white leading-[160%] w-[460px] mt-5">Choose a wallet you want to connect. There are several wallet providers.</h5>
    </div>
    <div id="connect-wallet" class="pt-10 space-y-5">
      @for(wallet of wallets; track wallet) {
        <div class="ml-[450px] cursor-pointer transition-transform duration-500 hover:scale-90">
          <div class="flex w-[320px] h-[72px] bg-darkGray border-[1px] border-purple rounded-[20px]">
            <img [src]="wallet.image" alt="" class="w-[40px] h-[40px] ml-10 mr-5 mt-4">
            <h5 class="font-work font-semibold text-h5 text-white leading-[140%] mt-5">{{ wallet.name | firstUppercase }}</h5>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<app-footer />

