<app-nav-menu />
<div class="bg-lightBlack">
  <div class="">
    <div id="bg">
      <img [src]="bg" alt="" class="object-cover  w-full h-[320px] ">
      <img [src]="ava" alt="" class="w-[120px] h-[120px] rounded-[20px] absolute -mt-[70px] ml-[390px] border-[2px] border-black z-10 ">
    </div>
    <div class="bg-lightBlack">
      <div>
        <div class="mt-20 ml-[390px]" id="general">
          <h2 class="font-work font-semibold text-h2 text-white leading-[110%]">Animakid</h2>
          <div class="flex mt-[30px]">
            <div class="w-[156.67px] h-[74px]">
              <h4 class="font-mono font-bold text-h4 text-white leading-[140%]">250k+</h4>
              <h5 class="font-work font-regular text-base text-white leading-[160%]">Volume</h5>
            </div>
            <div class="w-[156.67px] h-[74px] ml-5">
              <h4 class="font-mono font-bold text-h4 text-white leading-[140%]">50+</h4>
              <p class="font-work font-regular text-base text-white leading-[160%]">NFTs Sold</p>
            </div>
            <div class="w-[156.67px] h-[74px] ml-5">
              <h4 class="font-mono font-bold text-h4 text-white leading-[140%]">3000+</h4>
              <p class="font-work font-regular text-base text-white leading-[160%]">Followers</p>
            </div>
          </div>
        </div>
        <div class="ml-[1015px] " id="btns">
          <div class="pb-10 -mt-[165px]">
            <button class="w-[186px] h-[60px] bg-purple rounded-[20px] mr-5 transition-transform duration-500 hover:scale-90"><img [src]="copy" alt="" class="ml-[25px] pb-6"><p class="-mt-[45px] ml-6 font-work font-semibold text-base text-white leading-[140%]">0xc0E3...B79C</p></button>
            <button class="w-[145px] h-[60px] border-[2px] border-purple rounded-[20px] transition-transform duration-500 hover:scale-90"><img [src]="plus" alt="" class=" ml-[25px] pb-1"><p class="-mt-[23px] ml-3 font-work font-semibold text-base text-white leading-[140%]">Follow</p></button>
          </div>
        </div>
        <div class="mt-[75px] ml-[390px]" id="Bio">
          <h5 class="font-mono font-bold text-h5 text-lightGray leading-[160%]">Bio</h5>
          <h5 class="font-work font-regular text-h5 text-white leading-[160%] mt-[10px]">The internet's friendliest designer kid.</h5>
        </div>
        <div class="mt-[30px] ml-[390px]" id="Links">
          <h5 class="font-mono font-bold text-h5 text-lightGray leading-[160%]">Links</h5>
          <div class="flex mt-[10px]" id="logo">
            <img [src]="globe" alt="" class="w-7 h-7 mr-[10px]">
            <img [src]="diskord" alt="" class="w-7 h-7 mr-[10px]">
            <img [src]="youtube" alt="" class="w-7 h-7 mr-[10px]">
            <img [src]="twitter" alt="" class="w-7 h-7 mr-[10px]">
            <img [src]="instagram" alt="" class="w-7 h-7">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class=" w-full h-[70px] border-t-[1px] border-lightGray mt-10 ">
        <div class="flex ml-[390px] mt-[10px]">
          <div class="w-[350px] h-[60px] flex border-b-[2px] border-lightGray">
            <h5 class="font-work font-semibold text-h5 text-white leading-[140%] py-[14.5px] pl-[99px]">Created</h5>
            <div class="w-auto h-8 bg-lightGray rounded-[20px] ml-4 mt-3">
              <p class="font-mono font-regular text-base text-white leading-[140%] py-[5px] px-[10px]">302</p>
            </div>
          </div>
          <div class="w-[350px] h-[60px] flex">
            <h5 class="font-work font-semibold text-h5 text-lightGray leading-[140%] py-[14.5px] pl-[99px]">Owned</h5>
            <div class="w-auto h-8 bg-darkGray rounded-[20px] ml-4 mt-3">
              <p class="font-mono font-regular text-base text-white leading-[140%] py-[5px] px-[10px]">67</p>
            </div>
          </div>
          <div class="w-[350px] h-[60px] flex">
            <h5 class="font-work font-semibold text-h5 text-lightGray leading-[140%] py-[14.5px] pl-[99px]">Collection</h5>
            <div class="w-[auto h-8 bg-darkGray rounded-[20px] ml-4 mt-3">
              <p class="font-mono font-regular text-base text-white leading-[140%] py-[5px] px-[10px]">4</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-darkGray border-b-[2px] border-lightBlack pb-20">
      <div class="flex flex-wrap pt-[50px] w-[60%] ml-[360px]">
        @for(nfts of NFTS; track nfts) {
          <div class="ml-[30px] mt-[30px]">
            <div >
              <img [src]="nfts.img" alt="" class="w-[330px] h-[295px] rounded-t-[20px]">
            </div>
            <div class="w-[330px] h-[173px] bg-lightBlack rounded-b-[20px]">
              <h5 class="font-work font-semibold text-h5 text-white leading-[140%] pt-5 ml-[30px]">{{ nfts.name | firstUppercase }}</h5>
              <div class="flex">
                <img [src]="nfts.authorAva" alt="" class="w-[24px] h-[24px] rounded-full mt-[5px] ml-[30px]">
                <p class="font-mono font-regular text-base text-white leading-[140%] ml-3 mt-1">{{ nfts.authorName | firstUppercase }}</p>
              </div>
              <div class="flex pt-[25px]">
                <div class="w-[135px] h-[43px] text-left ml-[30px]">
                  <p class="font-mono font-regular text-caption text-lightGray leading-[110%]">Price</p>
                  <p class="font-mono font-regular text-base text-white leading-[140%]">{{ nfts.price }} ETH</p>
                </div>
                <div>
                  <p class="font-mono font-regular text-caption text-lightGray leading-[110%]">Highest Bid</p>
                  <p class="font-mono font-regular text-base text-white leading-[140%]">{{ nfts.bid }} wETH</p>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
<app-footer />
