<app-nav-menu />
<div class="bg-lightBlack">
  <div class="">
    <div id="bg">
      <img [src]="bg" alt="" class="object-cover desk:w-full desk:h-[320px]
                                     mob:w-[375px] mob:h-[300px]">
      <img [src]="ava" alt="" class="w-[120px] h-[120px] rounded-[20px] desk:absolute desk:-mt-[70px] desk:ml-[390px] border-[2px] border-black z-10
                                      mob:absolute mob:-mt-[70px] mob:ml-[127.5px]">
    </div>
    <div class="bg-lightBlack">
      <div>
        <div class="desk:mt-20 desk:ml-[390px]
                     mob:mt-20 mob:ml-[30px]" id="general">
          <h2 class="desk:font-work desk:font-semibold desk:text-h2 desk:text-white desk:leading-[110%]
                      mob:font-work mob:font-semibold mob:text-h4 mob:text-white mob:leading-[140%]">Animakid</h2>
          <div class="desk:hidden ml-[30px]
                     mob:block" id="btn">
            <div class="mob:pb-10 mob:mt-[30px]">
              <button class="mob:w-[315px] mob:h-[60px] mob:bg-purple mob:rounded-[20px] mob:-ml-[30px] mob:mr-5 mob:transition-transform mob:duration-500 mob:hover:scale-90 "><img [src]="copy" alt="" class="mob:ml-[88px] mob:pb-6"><p class="mob:-mt-[45px] mob:ml-6 mob:font-work mob:font-semibold mob:text-base mob:text-white mob:leading-[140%]">0xc0E3...B79C</p></button>
              <button class="mob:w-[315px] mob:h-[60px] mob:border-[2px] mob:border-purple mob:rounded-[20px] mob:-ml-[30px] mob:mt-5 mob:transition-transform mob:duration-500 mob:hover:scale-90"><img [src]="plus" alt="" class="mob:ml-[108px] mob:pb-1"><p class="mob:-mt-[23px] mob:ml-3 mob:font-work mob:font-semibold mob:text-base mob:text-white mob:leading-[140%]">Follow</p></button>
            </div>
          </div>
          <div class="flex mt-[30px] mob:ml-[10px]">
            <div class="desk:w-[156.67px] desk:h-[74px]
                         mob:w-[91.67px] mob:h-[57px]">
              <h4 class="desk:font-mono desk:font-bold desk:text-h4 desk:text-white desk:leading-[140%]
                          mob:font-mono mob:font-bold mob:text-h5 mob:text-white mob:leading-[160%]">250k+</h4>
              <h5 class="desk:font-work desk:font-regular desk:text-base desk:text-white desk:leading-[160%]
                          mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[160%]">Volume</h5>
            </div>
            <div class="desk:w-[156.67px] desk:h-[74px] desk:ml-5
                         mob:w-[91.67px] mob:h-[57px] mob:ml-5">
              <h4 class="desk:font-mono desk:font-bold desk:text-h4 desk:text-white desk:leading-[140%]
                          mob:font-mono mob:font-bold mob:text-h5 mob:text-white mob:leading-[160%]">50+</h4>
              <p class="desk:font-work desk:font-regular desk:text-base desk:text-white desk:leading-[160%]
                         mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[160%]">NFTs Sold</p>
            </div>
            <div class="desk:w-[156.67px] desk:h-[74px] desk:ml-5
                         mob:w-[91.67px] mob:h-[57px] mob:ml-5">
              <h4 class="desk:font-mono desk:font-bold desk:text-h4 desk:text-white desk:leading-[140%]
                          mob:font-mono mob:font-bold mob:text-h5 mob:text-white mob:leading-[160%]">3000+</h4>
              <p class="desk:font-work desk:font-regular desk:text-base desk:text-white desk:leading-[160%]
                         mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[160%]">Followers</p>
            </div>
          </div>
        </div>
        <div class="desk:block desk:ml-[1015px]
                     mob:hidden" id="btns">
          <div class="desk:pb-10 desk:-mt-[165px]">
            <button class="desk:w-[186px] desk:h-[60px] desk:bg-purple desk:rounded-[20px] desk:mr-5 desk:transition-transform desk:duration-500 desk:hover:scale-90"><img [src]="copy" alt="" class="desk:ml-[25px] desk:pb-6"><p class="desk:-mt-[45px] desk:ml-6 desk:font-work desk:font-semibold desk:text-base desk:text-white desk:leading-[140%]">0xc0E3...B79C</p></button>
            <button class="desk:w-[145px] desk:h-[60px] desk:border-[2px] desk:border-purple desk:rounded-[20px] desk:transition-transform desk:duration-500 desk:hover:scale-90"><img [src]="plus" alt="" class="desk:ml-[25px] desk:pb-1"><p class="desk:-mt-[23px] desk:ml-3 desk:font-work desk:font-semibold desk:text-base desk:text-white desk:leading-[140%]">Follow</p></button>
          </div>
        </div>
        <div class="desk:mt-[75px] desk:ml-[390px]
                     mob:mt-[30px] mob:ml-[45px]" id="Bio">
          <h5 class="desk:font-mono desk:font-bold desk:text-h5 desk:text-lightGray desk:leading-[160%]
                      mob:font-mono mob:font-regular mob:text-base mob:text-lightGray mob:leading-[140%]">Bio</h5>
          <h5 class="desk:font-work desk:font-regular desk:text-h5 desk:text-white desk:leading-[160%] desk:mt-[10px]
                      mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:mt-[10px]">The internet's friendliest designer kid.</h5>
        </div>
        <div class="desk:mt-[30px] desk:ml-[390px]
                     mob:mt-[30px] mob:ml-[45px]" id="Links">
          <h5 class="desk:font-mono desk:font-bold desk:text-h5 desk:text-lightGray desk:leading-[160%]
                      mob:font-mono mob:font-regular mob:text-base mob:text-lightGray mob:leading-[140%]">Links</h5>
          <div class="flex mt-[10px]" id="logo">
            <img [src]="globe" alt="" class="desk:w-7 desk:h-7 mr-[10px]
                                              mob:w-6 mob:h-6">
            <img [src]="diskord" alt="" class="desk:w-7 desk:h-7 mr-[10px]
                                                mob:w-6 mob:h-6">
            <img [src]="youtube" alt="" class="desk:w-7 desk:h-7 mr-[10px]
                                                mob:w-6 mob:h-6">
            <img [src]="twitter" alt="" class="desk:w-7 desk:h-7 mr-[10px]
                                                mob:w-6 mob:h-6">
            <img [src]="instagram" alt="" class="desk:w-7 desk:h-7
                                                  mob:w-6 mob:h-6">
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="desk:w-full desk:h-[70px] desk:border-t-[1px] desk:border-lightGray desk:mt-10
                   mob:w-full mob:h-[70px] mob:border-t-[1px] mob:border-lightGray mob:mt-10">
        <div class="flex desk:ml-[390px] mt-[10px]
                     mob:ml-[30px]">
          <div class="desk:w-[350px] desk:h-[60px] desk:flex desk:border-b-[2px] desk:border-lightGray
                       mob:w-[105px] mob:h-[60px] mob:border-b-[2px] mob:border-lightGray">
            <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-white desk:leading-[140%] desk:py-[14.5px] desk:pl-[99px]
                        mob:font-work mob:font-semibold mob:text-base mob:text-white mob:leading-[140%] mob:py-[14.5px] mob:pl-[25px] mob:pr-[21px]">Created</h5>
            <div class="desk:block desk:w-auto desk:h-8 desk:bg-lightGray desk:rounded-[20px] desk:ml-4 desk:mt-3
                         mob:hidden mob:w-auto mob:h-8 mob:bg-lightGray mob:rounded-[20px] mob:ml-4 mob:mt-3">
              <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%] desk:py-[5px] desk:px-[10px]
                         mob:font-mono mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:py-[5px] mob:px-[10px]">{{ NFTS.length }}</p>
            </div>
          </div>
          <div class="desk:w-[350px] desk:h-[60px] flex
                       mob:w-[105px] mob:h-[60px]">
            <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-lightGray desk:leading-[140%] desk:py-[14.5px] desk:pl-[99px]
                        mob:font-work mob:font-semibold mob:text-base mob:text-lightGray mob:leading-[140%] mob:py-[14.5px] mob:pl-[30px]">Owned</h5>
            <div class="desk:block desk:w-auto desk:h-8 desk:bg-darkGray desk:rounded-[20px] desk:ml-4 desk:mt-3
                         mob:hidden">
              <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%] desk:py-[5px] desk:px-[10px]">0</p>
            </div>
          </div>
          <div class="desk:w-[350px] desk:h-[60px] flex
                       mob:w-[350px] mob:h-[60px]">
            <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-lightGray desk:leading-[140%] desk:py-[14.5px] desk:pl-[99px]
                        mob:font-work mob:font-semibold mob:text-base mob:text-lightGray mob:leading-[140%] mob:py-[14.5px] mob:pl-[35px]">Collection</h5>
            <div class="desk:block desk:w-[auto] desk:h-8 bg-darkGray desk:rounded-[20px] desk:ml-4 desk:mt-3
                         mob:hidden">
              <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%] desk:py-[5px] desk:px-[10px]">0</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-darkGray border-b-[2px] border-lightBlack pb-20">
      <div class="desk:block desk:flex desk:flex-wrap desk:pt-[50px] desk:w-[60%] desk:ml-[360px]
                   mob:hidden">
        @for(nfts of NFTS; track nfts) {
          <div class="desk:ml-[30px] desk:mt-[30px] desk:transition-transform desk:duration-500 desk:hover:scale-90">
            <a routerLink="/nft-page" routerLinkActive="active">
              <div >
                <img [src]="nfts.img" alt="" class="desk:w-[330px] desk:h-[295px] rounded-t-[20px]">
              </div>
              <div class="desk:w-[330px] desk:h-[173px] bg-lightBlack rounded-b-[20px]">
                <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-white desk:leading-[140%] desk:pt-5 desk:ml-[30px]">{{ nfts.name | firstUppercase }}</h5>
                <div class="flex">
                  <img [src]="nfts.authorAva" alt="" class="desk:w-[24px] desk:h-[24px] rounded-full desk:mt-[5px] desk:ml-[30px]">
                  <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%] desk:ml-3 desk:mt-1">{{ nfts.authorName | firstUppercase }}</p>
                </div>
                <div class="flex desk:pt-[25px]">
                  <div class="desk:w-[135px] desk:h-[43px] desk:text-left desk:ml-[30px]">
                    <p class="desk:font-mono desk:font-regular desk:text-caption desk:text-lightGray desk:leading-[110%]">Price</p>
                    <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%]">{{ nfts.price }} ETH</p>
                  </div>
                  <div class="mob:ml-[30px]">
                    <p class="desk:font-mono desk:font-regular desk:text-caption desk:text-lightGray desk:leading-[110%]">Highest Bid</p>
                    <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%]">{{ nfts.bid }} wETH</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        }
      </div>
      
        <div class="desk:hidden desk:flex desk:flex-wrap desk:pt-[50px] desk:w-[60%] desk:ml-[360px]
                     mob:block">
          @for(nfts of NFTS.slice(0,3); track nfts) {
            <div class="mob:ml-[30px] mob:pt-[30px]">
              <a routerLink="/nft-page" routerLinkActive="active">
                <div >
                  <img [src]="nfts.img" alt="" class="rounded-t-[20px] mob:w-[315px] mob:h-[238px]">
                </div>
                <div class="bg-lightBlack rounded-b-[20px] mob:w-[315px] mob:h-[164px]">
                  <h5 class="mob:font-work mob:font-semibold mob:text-h5 mob:text-white mob:leading-[140%] mob:pt-5 mob:ml-[30px]">{{ nfts.name | firstUppercase }}</h5>
                  <div class="flex">
                    <img [src]="nfts.authorAva" alt="" class="rounded-full mob:w-[24px] mob:h-[24px] mob:mt-[5px] mob:ml-[30px]">
                    <p class="mob:font-mono mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:ml-3 mob:mt-1">{{ nfts.authorName | firstUppercase }}</p>
                  </div>
                  <div class="flex mob:pt-[25px]">
                    <div class="mob:w-[135px] mob:h-[43px] mob:text-left mob:ml-[30px]">
                      <p class="mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:leading-[110%]">Price</p>
                      <p class="mob:font-mono mob:font-regular mob:text-base mob:text-white mob:leading-[140%]">{{ nfts.price }} ETH</p>
                    </div>
                    <div class="mob:ml-[30px]">
                      <p class="mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:leading-[110%]">Highest Bid</p>
                      <p class="mob:font-mono mob:font-regular mob:text-base mob:text-white mob:leading-[140%]">{{ nfts.bid }} wETH</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          }
        </div>
    </div>
  </div>
</div>
<app-footer />
