<app-nav-menu/>
<div class="bg-lightBlack desk:-mt-[500px]">
  <div class="flex">
    <div>
      <img [src]="bg" alt="">
    </div>
    <div class="mt-[100px] ml-[450px]" id="form-title">
      <h2 class="font-work font-semibold text-h2 text-white leading-[110%] -ml-[200px]">Create account or log in account</h2>
      <h5 class="font-work font-semibold text-h5 text-white leading-[160%] w-[460px] mt-5">{{ 'Welcome! enter your details and start creating, collecting and selling NFTs.' | firstUppercase}}</h5>
    </div>
    <div class="flex -ml-[550px] mt-[400px]">
      <button class="flex font-mono font-semibold text-base text-white leading-[140%] items-center justify-center bg-purple px-[20px] w-auto h-[60px] rounded-[20px] transition-transform duration-500 hover:scale-90">
        <img [src]="user" alt="" class="w-[24px] h-[24px] mr-[12px]"><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      </button>
      <button class="flex font-mono font-semibold text-base text-white leading-[140%] items-center justify-center bg-purple px-[20px] w-auto h-[60px] rounded-[20px] ml-10 transition-transform duration-500 hover:scale-90">
        <img [src]="user" alt="" class="w-[24px] h-[24px] mr-[12px]"><a routerLink="/log-in" routerLinkActive="active">Log In</a>
      </button>
    </div>
  </div>
</div>
<app-footer/>
