<nav class="bg-lightBlack flex">
  <div class="flex mt-[34px] mb-[34px] ml-[50px] w-[244px]">
    <img [src]="logo" alt="">
    <h3 class="ml-3 font-mono font-bold text-white text-base mt-[5px] cursor-pointer"><a routerLink="/" routerLinkActive="active"><span class="uppercase">nft</span> Marketplace</a></h3>
  </div>
  <ul class="flex mt-[25px] mb-[20px] ml-[800px] font-work font-semibold text-white text-base">
    <li class="px-10 py-3 ml-[10px] cursor-pointer transition-transform duration-500 hover:scale-90">Marketplace</li>
    <li class="px-10 py-3 ml-[10px] cursor-pointer transition-transform duration-500 hover:scale-90"><a routerLink="/ranking" routerLinkActive="active">Rankings</a></li>
    <li class="px-10 py-3 ml-[10px] cursor-pointer transition-transform duration-500 hover:scale-90"><a routerLink="/connect-a-wallet" routerLinkActive="active">Connect a wallet</a></li>
    <div class="inline-flex -mt-[7px] cursor-pointer transition-transform duration-500 hover:scale-90">
      <button class="flex font-mono font-semibold text-base leading-[140%] items-center justify-center bg-purple px-[20px] w-[152px] h-[60px] rounded-[20px]">
        <img [src]="user" alt="" class="w-[24px] h-[24px] mr-[12px]"><a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      </button>
    </div>
  </ul>
</nav>
