<nav class="bg-lightBlack flex">
  <div
    class="flex
            desk:mt-[34px] desk:mb-[34px] desk:ml-[50px] desk:w-auto
            mob:mt-[15px] mob:mb-[15px] mob:ml-[30px] mob:w-auto">
    <img [src]="logo" alt=""
         class="desk:w-8 desk:h-8 desk:mt-[6px]
                mob:w-6 mob:h-6">
    <h3
      class="flex
              desk:ml-3 desk:font-mono desk:font-bold desk:text-white desk:text-h5 desk:mt-[5px] desk:cursor-pointer
              mob:pl-[9px] mob:pt-[4px] mob:font-mono mob:font-bold mob:text-white mob:text-caption mob:cursor-pointer mob:w-[150px]">
      <a routerLink="/" routerLinkActive="active">
        <span class="uppercase">nft</span> Marketplace
      </a>
    </h3>
  </div>
  <div class="mob:relative mob:mr-[30px] mob:mt-[20px] mob:cursor-pointer mob:ml-[100px]
             desk:hidden">
    <div class="mob:w-[13px] mob:h-[2px] mob:bg-red-500 mob:rounded-[20px] mob:z-10 mob:ml-[50px]"></div>
    <div class="mob:w-[18px] mob:h-[2px] mob:bg-red-500 mob:rounded-[20px] mob:z-10 mob:ml-[50px] mt-[4.5px]"></div>
    <div class="mob:w-[13px] mob:h-[2px] mob:bg-red-500 mob:rounded-[20px] mob:z-10 mob:ml-[50px] mt-[4.5px]"></div>
  </div>

  <ul class="desk:flex desk:mt-[25px] desk:mb-[20px] desk:ml-[800px] desk:font-work desk:font-semibold desk:text-white desk:text-base
              mob:hidden">
    <li class="desk:px-10 desk:py-3 desk:ml-[10px] desk:cursor-pointer desk:transition-transform desk:duration-500 desk:hover:scale-90"><a routerLink="/marketplace" routerLinkActive="active">Marketplace</a></li>
    <li class="desk:px-10 desk:py-3 desk:ml-[10px] desk:cursor-pointer desk:transition-transform desk:duration-500 desk:hover:scale-90"><a routerLink="/ranking" routerLinkActive="active">Rankings</a></li>
    <li class="desk:px-10 desk:py-3 desk:ml-[10px] desk:cursor-pointer desk:transition-transform desk:duration-500 desk:hover:scale-90"><a routerLink="/connect-a-wallet" routerLinkActive="active">Connect a wallet</a></li>
    <div class="inline-flex
                  desk:-mt-[7px] desk:cursor-pointer desk:transition-transform desk:duration-500 desk:hover:scale-90">
      <button class="flex
                      desk:font-mono desk:font-semibold desk:text-base desk:leading-[140%] desk:items-center desk:justify-center desk:bg-purple desk:px-[20px] desk:w-auto desk:h-[60px] desk:rounded-[20px]">
        <img [src]="user" alt="" class="desk:w-[24px] desk:h-[24px] desk:mr-[12px]"><a routerLink="/sign-up-or-log-in" routerLinkActive="active">Sign Up/Log In</a>
      </button>
    </div>
  </ul>
</nav>
