<div class="" id="one" *ngIf="showFirstBlock">
  <div class="relative w-full min-h-screen overflow-hidden pt-20 bg-lightBlack">
    <img [src]="bg" alt="Background Image" class="w-full h-full object-cover -z-10">
    <div class="absolute inset-0 bg-purple bg-opacity-50 blur-3xl h-1/2 -z-1 mt-[500px]"></div>
    <div class="absolute inset-0 bg-gradient-radial from-purple-500/60 via-purple-500/20 to-transparent opacity-30 blur-2xl "></div>
    <div class="-mt-[360px] relative z-10">
      <div id="highlight">
        <div class="ml-[390px] w-[151px] h-[44px] flex bg-black rounded-[20px]">
          <img [src]="ava" alt="" class="w-6 h-6 mt-[10px] ml-5">
          <p class="font-work font-regular text-base text-white leading-[140%] mt-[11px] ml-3">Shroomie</p>
        </div>
        <h2 class="ml-[390px] mt-[30px] font-work font-semibold text-h2 text-white leading-[110%]">Magic Mashrooms</h2>
        <a routerLink="/nft-page" routerLinkActive="active">
          <div class="inline-flex mt-[30px] ml-[390px] cursor-pointer transition-transform duration-500 hover:scale-90">
            <button class="flex font-work font-semibold text-base text-black leading-[140%] items-center justify-center w-[198px] h-[60px] rounded-[20px] bg-white">
              <img [src]="eye" alt="" class="w-[19px] h-[19px] mr-[12px]">See NFT
            </button>
          </div>
        </a>

      </div>
      <div class="w-[355px] h-[207px] bg-darkGray bg-opacity-50 -mt-[210px] ml-[1144px] rounded-[20px]">
        <p class="font-mono font-regular text-caption text-white leading-[110%] pt-[60px] ml-[30px]">Auction ends in:</p>
        @if(countdownTime >= 1000) {
          <div class="flex ml-[10px]">
            <!--            Hours-->
            <div>
              <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ hours }} :</span>
            </div>
            <!--            Minuts-->
            <div>
              <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ minutes }} :</span>
            </div>
            <!--            Seconds-->
            <div>
              <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ seconds }}</span>
            </div>
          </div>
          <div class="flex pt-[5px]">
            <p class="font-mono font-regular text-caption text-white leading-[110%] ml-[35px] mr-[65px]">Hours</p>
            <p class="font-mono font-regular text-caption text-white leading-[110%] mr-[73px]">Minutes</p>
            <p class="font-mono font-regular text-caption text-white leading-[110%] ">Seconds</p>
          </div>
        }
        @else {
          <div class="flex relative">
            <!--            Hours-->
            <div>
              <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[35px]">{{ hours }} :</span>
            </div>
            <!--            Minuts-->
            <div>
              <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ minutes }} :</span>
            </div>
            <!--            Seconds-->
            <div>
              <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ seconds }}</span>
            </div>
          </div>
          <div class="flex pt-[5px] ml-[10px]">
            <p class="font-mono font-regular text-caption text-white leading-[110%] ">Hours</p>
            <p class="font-mono font-regular text-caption text-white leading-[110%] ">Minutes</p>
            <p class="font-mono font-regular text-caption text-white leading-[110%] ">Seconds</p>
          </div>
        }

      </div>
    </div>
  </div>
</div>

<div class="" id="two" *ngIf="!showFirstBlock">
  <div class="relative w-full min-h-screen overflow-hidden pt-20 bg-lightBlack">
    <img [src]="bg2" alt="Background Image" class="w-full h-full object-cover -z-10 mt-[40px]">
    <div class="absolute inset-0 bg-purple bg-opacity-50 blur-3xl h-1/2 -z-1 mt-[500px]"></div>
    <div class="absolute inset-0 bg-gradient-radial from-purple-500/60 via-purple-500/20 to-transparent opacity-30 blur-2xl "></div>
    <div class="-mt-[360px] relative z-10">
      <div id="highlight2">
        <div class="ml-[390px] w-[151px] h-[44px] flex bg-black rounded-[20px]">
          <img [src]="ava2" alt="" class="w-6 h-6 mt-[10px] ml-5">
          <p class="font-work font-regular text-base text-white leading-[140%] mt-[11px] ml-3">Shroomie</p>
        </div>
        <h2 class="ml-[390px] mt-[30px] font-work font-semibold text-h2 text-white leading-[110%]">Magic Mashrooms</h2>
        <div class="inline-flex mt-[30px] ml-[390px] cursor-pointer transition-transform duration-500 hover:scale-90">
          <button class="flex font-work font-semibold text-base text-black leading-[140%] items-center justify-center w-[198px] h-[60px] rounded-[20px] bg-white">
            <img [src]="eye" alt="" class="w-[19px] h-[19px] mr-[12px]">See NFT
          </button>
        </div>
      </div>
      <div class="w-[355px] h-[207px] bg-darkGray bg-opacity-50 -mt-[210px] ml-[1144px] rounded-[20px]">
        <p class="font-mono font-regular text-caption text-white leading-[110%] pt-[60px] ml-[30px]">Auction ends in:</p>
        <!--          <h3 class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">59 : 59 : 59</h3>-->
        <div class="flex" >
          <div >
            <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ hours }} :</span>
          </div>
          <div>
            <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ minutes }} :</span>
          </div>
          <div>
            <span class="font-mono font-bold text-h3 text-white leading-[120%] pt-[10px] ml-[30px]">{{ seconds }}</span>
          </div>
        </div>
        <div class="flex pt-[5px]">
          <p class="font-mono font-regular text-caption text-white leading-[110%] ml-[45px] mr-[65px]">Hours</p>
          <p class="font-mono font-regular text-caption text-white leading-[110%] mr-[68px]">Minutes</p>
          <p class="font-mono font-regular text-caption text-white leading-[110%] ">Seconds</p>
        </div>
      </div>
    </div>
  </div>
</div>
