<app-nav-menu />
<div class="bg-lightBlack desk:pt-20 desk:pl-[390px]
             mob:pt-[30px] mob:pl-[30px]">
  <div id="ranking-title">
    <h2 class="desk:font-work desk:font-semibold desk:text-h2 desk:text-white desk:leading-[110%]
                mob:font-work mob:font-semibold mob:text-h4 mob:text-white mob:leading-[140%]">Top Creators</h2>
    <h5 class="desk:font-work desk:font-regular desk:text-h5 desk:text-white desk:leading-[160%] desk:mt-5 desk:w-auto
                mob:font-work mob:font-regular mob:text-base mob:text-white mob:leading-[140%] mob:mt-5 mob:w-[315px]">Check out top ranking NFT artists on the NFT Marketplace.</h5>
  </div>
  <div class="desk:flex desk:block
               mob:hidden" id="ranking-time">
    <div class="desk:w-[262.5px] desk:h-[60px] desk:border-b-[1px] desk:border-lightGray desk:px-[99.75px] desk:py-[14.5px] desk:mt-20 desk:cursor-pointer" id="today" (click)="toogleActive()">
      <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-white desk:leading-[140%]">Today</h5>
    </div>

    <div class="desk:w-[262.5px] desk:h-[60px] desk:px-[50.75px] desk:py-[14.5px] desk:mt-20 desk:cursor-pointer" id="week" (click)="toogleActive()">
      <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-lightGray desk:leading-[140%]">This Week</h5>
    </div>

    <div class="desk:w-[262.5px] desk:h-[60px] desk:px-[50.75px] desk:py-[14.5px] desk:mt-20 desk:cursor-pointer" id="month" (click)="toogleActive()">
      <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-lightGray desk:leading-[140%]">This Month</h5>
    </div>

    <div class="desk:w-[262.5px] desk:h-[60px] desk:px-[50.75px] desk:py-[14.5px] desk:mt-20 desk:cursor-pointer" id="allTime" (click)="toogleActive()">
      <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-lightGray desk:leading-[140%]">All Time</h5>
    </div>
  </div>

  <div class="mob:flex mob:block
                desk:hidden" id="ranking-times">
    <div class="mob:w-[78.75px] mob:h-[60px] mob:border-b-[1px] mob:border-lightGray mob:px-[30.87px] mob:py-[19px] mob:mt-[30px] mob:cursor-pointer" id="1" (click)="toogleActive()">
      <h5 class="mob:font-work mob:font-semibold mob:text-base mob:text-white mob:leading-[140%]">1d</h5>
    </div>

    <div class="mob:w-[78.75px] mob:h-[60px] mob:px-[19px] mob:py-[29.87px] mob:mt-[19px] mob:cursor-pointer" id="7" (click)="toogleActive()">
      <h5 class="mob:font-work mob:font-semibold mob:text-base mob:text-lightGray mob:leading-[140%]">7d</h5>
    </div>

    <div class="mob:w-[78.75px] mob:h-[60px] mob:px-[19px] mob:py-[24.38px] mob:mt-[24px] mob:cursor-pointer" id="30" (click)="toogleActive()">
      <h5 class="mob:font-work mob:font-semibold mob:text-base mob:text-lightGray mob:leading-[140%]">30d</h5>
    </div>

    <div class="mob:w-[78.75px] mob:h-[60px] mob:px-[19px] mob:py-[6.88px] mob:mt-[42px] mob:cursor-pointer" id="all" (click)="toogleActive()">
      <h5 class="mob:font-work mob:font-semibold mob:text-base mob:text-lightGray mob:leading-[140%] mob:w-[65px]">All Time</h5>
    </div>
  </div>

  <div id="ranking-categories">
    <div class="desk:w-[1050px] desk:h-[46px] border-[2px] border-darkGray rounded-[20px] desk:mt-10
                 mob:w-[315px] mob:h-[46px] mob:mt-10">
      <div class="flex py-3">
        <div class="desk:w-[30px] desk:h-[22px] desk:ml-5
                     mob:w-[24px] mob:h-[22px] mob:ml-[10px]">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-center desk:leading-[140%]
                     mob:font-mono mob:font-regular mob:text-base mob:text-lightGray mob:text-center mob:leading-[140%]">
            #
          </p>
        </div>
        <div class="desk:w-[380px] desk:h-[22px] desk:ml-5
                     mob:w-[181px] mob:h-[13px] mob:ml-[10px] mob:pt-1">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]
                     mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:text-left mob:leading-[110%]">
            Artist
          </p>
        </div>
        <div class="desk:block desk:w-[160px] desk:h-[22px] desk:ml-[60px]
                     mob:hidden">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]">
            Change
          </p>
        </div>
        <div class="desk:block desk:w-[160px] desk:h-[22px] desk:ml-5
                     mob:hidden">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]">
            NFts Sold
          </p>
        </div>
        <div class="desk:block desk:w-[160px] desk:h-[22px] desk:ml-5
                     mob:w-[70px] mob:h-[13px] mob:mt-1">
          <p class="desk:font-mono desk:font-regular desk:text-base desk:text-lightGray desk:text-left desk:leading-[140%]
                     mob:font-mono mob:font-regular mob:text-caption mob:text-lightGray mob:text-left mob:leading-[110%]">
            Volume
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="ranking-list ">
    <div class="desk:pt-5 desk:pb-10
                 mob:pt-5 mob:pb-5">
      @for(artist of artists; track artist) {
        <div class="desk:w-[1050px] desk:h-[84px] rounded-[20px] bg-darkGray desk:mt-5 transition-transform duration-500 hover:scale-90
                     mob:w-[315px] mob:h-[50px] mob:mt-5">
          <div class="desk:flex desk:py-3 desk:ml-5
                       mob:flex mob:py-3 mob:ml-5">
            <div class="desk:py-[15px]
                         mob:mt-[1px]">
              <div class="desk:w-[30px] desk:h-[30px] desk:bg-lightBlack rounded-full
                           mob:w-[30px] mob:h-[30px] mob:-mt-[3px]" id="id">
                <p class="text-center text-lightGray">{{ artist.id }}</p>
              </div>
            </div>

            <div class="desk:ml-5 desk:w-[380px] desk:h-[22px] desk:cursor-pointer
                         mob:ml-[10px] mob:w-[167px] mob:h-[24px] mob:cursor-pointer" id="imageAndName">
              <div class="mob:flex">
                <img [src]="artist.ava" alt="" class="desk:w-[60px] desk:h-[60px]
                                                       mob:w-[24px] mob:h-[24px] py:-[13px]">
                <h5 class="desk:font-work desk:font-semibold desk:text-h5 desk:text-white desk:leading-[140%] desk:ml-5 desk:py-[14.5px] w-auto
                            mob:font-work mob:font-regular mob:text-caption mob:text-white mob:leading-[140%] mob:ml-3 mob:-mt-[10px] mob:py-[14px]"><a routerLink="/artist" routerLinkActive="active">{{ artist.fullname | firstUppercase }}</a></h5>
              </div>
            </div>

            <div class="desk:block desk:w-[160px] desk:h-[22px] desk:ml-[60px]
                         mob:hidden" id="change">
              <div class="desk:py-[19px]">
                <p class="desk:font-mono desk:font-regular desk:text-base desk:text-[#00AC4F] desk:leading-[140%]">{{ artist.change }}</p>
              </div>
            </div>

            <div class="desk:block desk:w-[160px] desk:h-[22px] desk:ml-5
                         mob:hidden" id="sold">
              <div class="desk:py-[19px]">
                <p class="desk:font-mono desk:font-regular desk:text-base desk:text-white desk:leading-[140%]">{{ artist.sold }}</p>
              </div>
            </div>

            <div class="desk:w-[160px] desk:h-[22px] desk:ml-5
                         mob:w-[80px] mob:h-[13px] mob:ml-[5px]" id="volume">
              <div class="desk:py-[19px] flex desk:items-center
                           mob:-mt-[1px] mob:items-center">
                <p class="desk:font-mono desk:font-regular desk:text-base text-white desk:leading-[140%]
                           mob:font-mono mob:font-regular mob:text-base text-white mob:leading-[140%]">{{ artist.volume }}</p>
                <span class="text-white desk:-mt-[1px] desk:ml-[5px]
                              mob:-mt-[1px] mob:ml-[5px]">ETH</span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
<app-footer />
