<div class="pt-[120px] bg-lightBlack">
  <div class="w-[1120px] h-[430px] bg-darkGray ml-[390px] rounded-[20px] flex">
    <div class="pt-[60px] ml-[60px]" id="image">
      <img [src]="actronavt" alt="" class="w-[425px] h-[310px]">
    </div>
    <div class="ml-20 mt-[79px]" id="info">
      <h3 class="w-[425px] font-work font-semibold text-h3 text-white leading-[120%]">{{ 'Join our weekly digest' | firstUppercase }}</h3>
      <h5 class="w-[425px] font-work font-regular text-h5 text-white leading-[160%] mt-[10px]">{{ 'Get exclusive promotions & updates straight to your inbox.' | firstUppercase }}</h5>
      <div class="flex mt-10" id="form">
        <input type="text" placeholder="Enter your email here" class="font-work font-regular text-base text-black leading-[140%] w-[425px] h-[60px] rounded-[20px] px-[19px] py-[20px] border-none placeholder:font-work placeholder:font-regular placeholder:text-base placeholder:text-black placeholder:leading-[140%] placeholder:opacity-70">
        <button type="submit" class="w-[211px] h-[60px] rounded-[20px] bg-purple -ml-[210px]"><img [src]="message" alt="" class=" ml-[50px] mt-[5px]"><h5 class="font-work font-semibold text-base text-white leading-[140%] -mt-[22px] ml-[24px]">Subscribe</h5></button>
      </div>
    </div>
  </div>
</div>
